# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
dhcp4-reservation

# Output dep
vendor/

# Docker
data-dhcp4/

# Vagrant
.vagrant

bin/
